{% extends "base.twig" %}

{% block template_content %}
    <div class="container">
        {{ content }}
        <!-- todo
        <div class="row">
            <div class="col-sm-8">
                { { content }}
            </div>
            <div class="col-sm-4">
                <!-- sidebar --><!--
            </div>
        </div>
        -->


    </div>
{% endblock %}