{% extends "base.twig" %}

{% block template_content %}
    <style type="text/css">
        #page-content,
        #sidebar-nav-container {
            margin: 0;
            height: 100%;
            box-sizing: border-box;
            -webkit-transition: top 300ms ease-in-out;
            -moz-transition: top 300ms ease-in-out;
            transition: top 300ms ease-in-out;
        }

        /*
        #page-content { width: 75%; }
        #sidebar-nav-container { width: 25%; }
        */

        #sidebar-nav-container {
            height: 100%;
            position: fixed;
            top: 90px; right: 0;
        }

        #sidebar-nav-container.sidebar-nav-collapse { top: 50px; }

        #sidebar-nav-container ul { list-style: none; }
        #sidebar-nav-container > #sidebar-nav {
            border-left: 1px solid #cccccc;
            padding-top: 15px;
            padding-bottom: 15px;
        }

        #header-nav-container li > a { text-decoration: none; }

        @media(max-width:767px) {
            #page-content { width: 100%; }
            #sidebar-nav-container { display: none; }
        }

        @media(min-width: 768px) {
            #page-content { width: 70%; }
            #sidebar-nav-container { width: 30%; }
        }

        @media(min-width:992px) {
            #page-content { width: 65%; }
            #sidebar-nav-container { width: 35%; }
        }

        @media(min-width:1200px) {
            #page-content { width: 70%; }
            #sidebar-nav-container { width: 30%; }
        }

        @media(min-width:1600px) {
            #page-content { width: 75%; }
            #sidebar-nav-container { width: 25%; }
        }
    </style>

    <div class="container">
        <div id="page-content">
            {{ content }}
        </div>
        <nav id="sidebar-nav-container">
            <ul id="sidebar-nav"></ul>
        </nav>
    </div>


    <script type="text/javascript" src="{{ theme_url }}/node_modules/sidebar-links/dist/sidebar-links.min.js"></script>
    <script type="text/javascript">
        document.addEventListener("DOMContentLoaded", function() {
            sidebarLinks('sidebar-nav');
        });
    </script>
{% endblock %}